/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: chillax medium;
  src: url(./fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.ttf);
}
@font-face {
  font-family: chillax bold;
  src: url(./fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.ttf);
}
@font-face {
  font-family: remachine;
  src: url(./fonts/RemachineScript_Personal_Use.ttf);
}
@font-face {
  font-family: dmsans regular;
  src: url(./fonts/DMSans-Regular.ttf);
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
body {
  line-height: 1;
  background-color: #181818;
  font-family: dmsans regular;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: #181818;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
nav .hideOnMobile a:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 25px #0021ff);
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  height: 50px;
}
nav ul li a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav ul li a img {
  width: 150px;
}
nav ul li a img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px #0021ff);
}
nav ul li:first-child {
  margin-right: auto;
}
nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.253);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgb(0, 0, 0);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav .sidebar li {
  width: 100%;
}
nav .sidebar li a {
  width: 100%;
}
nav .sidebar li .menu-button {
  display: none;
}

.hero .hero-contents p {
  width: 89%;
}
.hero .hero-contents .portfolio-btn:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 25px #0021ff);
}
.hero .hero-contents .services-btn:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 25px #0021ff);
}
.hero .hero-contents #last-img {
  margin-top: 5%;
  margin-left: 75%;
  width: 15%;
  position: absolute;
}
.hero .hero-contents #last-img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px #0021ff);
}

.intro {
  margin-top: 10%;
}
.intro .intro-content {
  color: white;
  margin-left: 6%;
}
.intro .intro-content h1 {
  font-size: 300%;
  padding-top: 4%;
}
.intro .intro-content p {
  width: 65%;
  padding-top: 1%;
}
.intro .intro-content #profile {
  margin-right: 5%;
}
.intro .intro-content button {
  color: white;
  background-color: #181818;
  border-radius: 8px;
  border: solid white;
  padding: 12px 40px 12px 40px;
  font-size: 11px;
}

.services {
  color: white;
  text-align: center;
}
.services h1 {
  font-size: 40px;
  width: 100%;
  margin-top: 40px;
}
.services p {
  font-size: 18px;
  padding-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
  line-height: 20px;
}

.portfolio {
  color: white;
  text-align: center;
  padding-top: 10%;
}
.portfolio .port-content h2 {
  font-size: 10px;
  font-weight: 200;
}
.portfolio .port-content h1 {
  font-size: 15px;
}
.portfolio .port-content p {
  font-size: 8px;
  padding-top: 1%;
}

.footers {
  display: flex;
  padding: 6%;
}
.footers .logos-info h1 {
  font-family: remachine;
}
.footers .explore-info {
  width: 24%;
}
.footers .circles-info {
  width: 24%;
}

#scrollBottom {
  transition: all 0.5s ease 0s;
}

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 4%;
  padding: 10px 15px;
  color: #000;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.scrollTop:hover {
  color: #000;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  p {
    line-height: 9px;
  }
  nav {
    height: 20px;
    box-shadow: none;
  }
  nav ul li a {
    height: 75%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  nav ul li a img {
    width: 100px;
    margin-right: 20px;
  }
  .hideOnMobile {
    display: none;
  }
  #scrollBottom {
    display: none;
  }
  .hero {
    background-image: url(./img/dark\ theme/Dark-Landing-Phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .hero-contents #triangle {
    width: 100%;
    opacity: 5%;
    display: none;
  }
  .hero .hero-contents #last-img {
    display: none;
  }
  .hero .content {
    width: 400px;
    font-size: 13px;
    color: white;
  }
  .hero .content h1 {
    margin-bottom: 1%;
    font-size: 40px;
    filter: drop-shadow(0 0 25px #ffffff);
  }
  .hero .content p {
    font-size: 25px;
    line-height: 30px;
  }
  .hero .web-d {
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10);
  }
  .hero .para-work {
    margin-right: 20px;
    margin-top: 5.5%;
    line-height: none;
    display: none;
  }
  .hero button {
    color: blue;
    background-color: white;
    border-radius: 2px;
    border: white;
    outline: none;
    padding: 8px 26px 8px 26px;
    font-size: 10px;
    font-weight: 200;
    margin-top: 40px;
  }
  .hero p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  .hero .word {
    position: absolute;
    opacity: 0;
    margin-left: -26%;
  }
  .hero .letter {
    display: inline-block;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  .hero .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hero .letter.behind {
    transform: rotateX(-90deg);
  }
  .hero .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .hero .wisteria {
    color: white;
    font-size: 30px;
  }
  .hero .belize {
    color: white;
    font-size: 30px;
  }
  .hero .pomegranate {
    color: white;
    font-size: 30px;
  }
  .hero .green {
    color: white;
    font-size: 30px;
  }
  .hero .midnight {
    color: white;
    font-size: 30px;
  }
  .hero .services-btn {
    margin-left: 7px;
    background-color: #0021ff;
    color: white;
    display: none;
  }
  .intro .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 6%;
    font-size: 12px;
  }
  .intro .intro-content h1 {
    font-size: 40px;
    width: 100%;
    padding-top: 2%;
    margin-right: 4%;
  }
  .intro .intro-content h2 {
    font-size: 20px;
    margin-right: 4%;
  }
  .intro .intro-content p {
    width: 90%;
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 8.5%;
    color: #F4F4F4;
  }
  .intro .intro-content #profile {
    margin-right: 5%;
  }
  .intro .intro-content button {
    color: white;
    background-color: #181818;
    padding: 8px 26px 8px 26px;
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
    border: solid white 1px;
    border-radius: 2px;
  }
  .intro .intro-content button svg {
    height: 11px;
    width: 11px;
  }
  #profile {
    margin-left: 10%;
    margin-top: 1%;
  }
  #profile img {
    border-radius: 50%;
  }
  #one {
    width: 80%;
    position: absolute;
    margin-top: 6%;
  }
  #banner {
    position: absolute;
    width: 68%;
    margin-left: 6%;
    margin-top: 25%;
  }
  .services {
    display: flex;
    flex-direction: column;
    margin-top: 90%;
  }
  .services .services-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .services .services-cont img {
    width: 85%;
    margin-top: 5%;
  }
  .services .services-cont h1 {
    font-size: 20px;
    margin-top: 6%;
  }
  .services .services-cont p {
    margin-top: 2%;
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
  }
  .services .services-cont h1 {
    padding-top: 0;
    font-size: 13px;
    font-weight: 900;
  }
  .services .services-cont h2 {
    padding-top: 10%;
    font-size: 18px;
  }
  .services .services-cont p {
    font-size: 12px;
    padding-top: 3%;
  }
  .services .services-cont .dev {
    font-size: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-top: 5.5%;
    padding: 2%;
    width: 85%;
  }
  .services .services-cont .ux {
    border-radius: 10px;
    margin-top: 5.5%;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    padding: 2%;
    width: 83%;
  }
  .services .services-cont .dm {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-top: 5.5%;
    padding: 2%;
    width: 83%;
  }
  .services .services-cont .more {
    border-radius: 2px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-right: 6%;
    margin-left: 4%;
    margin-top: 5.5%;
    padding: 6px 12px 6px 12px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.068);
    color: rgba(128, 128, 128, 0.534);
  }
  .portfolio .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .portfolio .projects img {
    width: 85%;
    margin-top: 5%;
  }
  .portfolio .port-content h1 {
    font-size: 40px;
  }
  .portfolio .port-content h2 {
    font-size: 20px;
  }
  .portfolio .port-content p {
    font-size: 18px;
    width: 88%;
    margin-left: 5.5%;
    margin-top: 1.5%;
    line-height: 20px;
  }
  .footers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5px;
  }
  .footers .logos-info {
    width: 100%;
  }
  .footers .logos-info h1 {
    text-align: center;
    font-size: 30px;
  }
  .footers .logos-info p {
    padding-top: 5%;
    text-align: center;
    font-size: 12px;
  }
  .footers .logos-info .socials {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .footers .logos-info .socials img {
    width: 80%;
  }
  .footers .explore-info {
    margin-top: 5%;
    display: none;
    flex-direction: column;
  }
  .footers .explore-info h2 {
    font-size: 20px;
  }
  .footers .explore-info p {
    font-size: 18px;
  }
  .footers .explore-info .elementor-divider-separator {
    display: block;
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    position: relative;
  }
  .footers .explore-info .elementor-divider-separator::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 20%;
    transform: translate(-50%);
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 100%;
    margin-left: 15px;
  }
  .footers .explore-info #a1 {
    padding-top: 7%;
  }
  .footers .explore-info #a2 {
    padding-top: 21%;
  }
  .footers .explore-info #a3 {
    padding-top: 21%;
  }
  .footers .explore-info #a4 {
    padding-top: 21%;
  }
  .footers .explore-info #a5 {
    padding-top: 21%;
  }
  .footers .explore-info #a {
    padding-top: 5%;
  }
  .footers .explore-info #b {
    padding-top: 13%;
  }
  .footers .explore-info #p {
    padding-top: 22%;
  }
  .footers .explore-info #c {
    padding-top: 30%;
  }
  .footers .explore-info #bk {
    padding-top: 38%;
  }
  .footers .explore-info img {
    width: 30%;
    position: relative;
  }
  .footers .explore-info p {
    position: absolute;
    margin-left: 10%;
    margin-top: 6%;
  }
  .footers .contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    font-size: 15px;
  }
  .footers .contact-info h2 {
    font-size: 20px;
  }
  .footers .contact-info svg {
    height: 4%;
    width: 4%;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
  }
  .footers .contact-info .fas.fa-phone {
    margin-top: 4%;
  }
  .footers .contact-info .mysvga {
    border: 5px 5px 5px 5px;
    border-radius: 50px;
  }
  .footers .contact-info .mysvgb {
    border: 5px 5px 5px 5px;
    border-radius: 50px;
  }
  .footers .contact-info .my-svg1 {
    margin-top: 6%;
  }
  .footers .contact-info .my-svg2 {
    width: 5%;
    height: 5%;
    margin-top: 6%;
    margin-left: 33px;
  }
  .footers .contact-info .elementor-divider-separator {
    display: none;
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    position: relative;
  }
  .footers .contact-info .elementor-divider-separator::after {
    display: none;
    content: "";
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate(-50%);
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 100%;
    margin-left: 15px;
  }
  .footers .contact-info p {
    position: absolute;
    margin-left: 19%;
    margin-top: 4%;
    color: #A5A49A;
  }
  .footers .contact-info .p1 {
    padding-top: 6%;
  }
  .footers .contact-info .p2 {
    padding-top: 14.5%;
  }
  .footers .contact-info .p3 {
    padding-top: 23%;
  }
  .footers .contact-info .p4 {
    padding-top: 29%;
  }
  .footers .circles-info {
    display: none;
    width: 18%;
  }
  .footers .circles-info .one {
    border: 1px solid white;
    width: 18%;
    height: 17%;
    border-radius: 50%;
    background-color: white;
    margin-top: 0%;
    margin-left: 10%;
  }
  .footers .circles-info .two {
    border: 1px solid white;
    width: 18%;
    height: 17%;
    border-radius: 50%;
    background-color: white;
    margin-top: 8%;
    margin-left: 10%;
  }
  .footers .circles-info .three {
    border: 1px solid white;
    width: 18%;
    height: 17%;
    border-radius: 50%;
    background-color: white;
    margin-top: 8%;
    margin-left: 10%;
  }
  .footers .circles-info .four {
    border: 1px solid white;
    width: 18%;
    height: 17%;
    border-radius: 50%;
    background-color: white;
    margin-top: 8%;
    margin-left: 10%;
  }
  .copyrights {
    text-align: center;
    color: white;
  }
  .copyrights p {
    padding: 1% 0.1% 1% 1%;
    color: white;
  }
  .copyrights h2 {
    font-family: chillax medium;
    font-weight: normal;
    padding: 1% 0 1% 0;
    color: white;
  }
  .copyrights h1 {
    font-family: chillax medium;
    color: white;
    font-weight: 900;
    padding: 1% 1% 1% 0.5%;
  }
}
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  p {
    line-height: 25px;
  }
  .menu-button {
    display: none;
  }
  .hero-contents {
    display: flex;
    flex-direction: row;
  }
  .content {
    padding-top: 20%;
    padding-left: 2%;
  }
  .h1, h1 {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .para-work {
    color: white;
    font-weight: 50;
    font-size: 15px;
    padding-top: 67px;
  }
  #triangle {
    width: 45%;
    margin-left: 3%;
  }
  #triangle:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px #0021ff);
  }
  #last-img {
    margin-left: 795px;
    width: 15%;
    position: absolute;
  }
  .web-d {
    font-size: 300%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13);
  }
  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  .word {
    position: absolute;
    opacity: 0;
  }
  .letter {
    display: inline-block;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .letter.behind {
    transform: rotateX(-90deg);
  }
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .wisteria {
    color: white;
    font-size: 60px;
  }
  .belize {
    color: white;
    font-size: 60px;
  }
  .pomegranate {
    color: white;
    font-size: 60px;
  }
  .green {
    color: white;
    font-size: 60px;
  }
  .midnight {
    color: white;
    font-size: 60px;
  }
  button {
    color: blue;
    background-color: white;
    border-radius: 8px;
    border: white;
    outline: none;
    padding: 12px 40px 12px 40px;
    margin-top: 20px;
    font-size: 11px;
  }
  .services-btn {
    margin-left: 20px;
    background-color: #0021ff;
    color: white;
  }
  .intro {
    display: flex;
  }
  .intro button svg {
    height: 10px;
    width: 10px;
  }
  .intro .isb:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 25px #0021ff);
  }
  .intro h2 {
    font-size: 25px;
  }
  .intro #profile {
    margin-right: 36%;
  }
  .intro #profile img {
    border-radius: 5%;
  }
  .intro #one {
    width: 25%;
    margin-left: 5%;
    position: absolute;
  }
  .intro #banner {
    position: absolute;
    width: 20%;
    margin-left: 7.5%;
    margin-top: 6%;
  }
  .services h1 {
    font-size: 40px;
    width: 100%;
    margin-top: 10px;
  }
  .services h2 {
    font-size: 25px;
    padding-top: 9%;
  }
  .services p {
    font-size: 100%;
    padding-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
  }
  .services-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 7% 0 7%;
  }
  .services-cont img {
    width: 23%;
  }
  .services-cont img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px #0021ff);
    cursor: pointer;
  }
  .services-cont #ui {
    margin-left: 3%;
  }
  .services-cont #gd {
    margin-left: 3%;
  }
  .services-cont #m {
    margin-left: 3%;
  }
  .services-cont h1 {
    padding-top: 0;
    font-size: 10px;
    font-weight: 900;
    padding-top: 0;
  }
  .services-cont h2 {
    padding-top: 10%;
  }
  .services-cont p {
    font-size: 12px;
    padding-top: 10%;
  }
  .services-cont .dev {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-left: 6%;
    padding: 1%;
    width: 15%;
  }
  .services-cont .ux {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-left: 4%;
    padding: 1%;
    width: 15%;
  }
  .services-cont .dm {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-left: 4%;
    padding: 1%;
    width: 15%;
  }
  .services-cont .more {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    margin-right: 6%;
    margin-left: 4%;
    padding: 6% 1% 1%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.068);
    color: rgba(128, 128, 128, 0.534);
  }
  .portfolio .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7%;
  }
  .portfolio img {
    width: 23%;
  }
  .portfolio img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px #0021ff);
    cursor: pointer;
  }
  .portfolio #n {
    width: 93.3%;
  }
  .portfolio #sp {
    margin-left: 5%;
    width: 93.3%;
  }
  .portfolio #sb {
    margin-left: 9%;
    width: 93.3%;
  }
  .portfolio #m {
    margin-left: 3%;
    width: 93.3%;
  }
  .portfolio .port-content h2 {
    font-size: 25px;
    font-weight: 200;
  }
  .portfolio .port-content h1 {
    font-size: 300%;
    width: 100%;
  }
  .portfolio .port-content p {
    font-size: 100%;
    padding-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
  }
  .footers .logos-info {
    width: 28%;
  }
  .footers .logos-info h1 {
    font-size: 50px;
    text-align: center;
  }
  .footers .logos-info p {
    padding-top: 10%;
    text-align: center;
  }
  .footers .logos-info .socials {
    margin-top: 10%;
    margin-left: 20%;
  }
  .footers .explore-info {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
  }
  .footers .explore-info .elementor-divider-separator {
    display: block;
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    position: relative;
  }
  .footers .explore-info .elementor-divider-separator::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate(-50%);
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
    margin-left: 40px;
  }
  .footers .explore-info img {
    width: 7%;
    position: relative;
  }
  .footers .explore-info p {
    position: absolute;
    margin-left: 2.5%;
    margin-top: 1%;
  }
  .footers #a1 {
    padding-top: 7%;
  }
  .footers #a2 {
    padding-top: 11%;
  }
  .footers #a3 {
    padding-top: 11%;
  }
  .footers #a4 {
    padding-top: 11%;
  }
  .footers #a5 {
    padding-top: 11%;
  }
  .footers #a {
    padding-top: 3%;
  }
  .footers #b {
    padding-top: 6%;
  }
  .footers #p {
    padding-top: 9%;
  }
  .footers #c {
    padding-top: 12%;
  }
  .footers #bk {
    padding-top: 15%;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .contact-info svg {
    height: 7%;
    width: 7%;
    position: relative;
    margin-top: 5%;
  }
  .contact-info .mysvga {
    border: 5px 5px 5px 5px;
    border-radius: 50px;
  }
  .contact-info .mysvgb {
    border: 5px 5px 5px 5px;
    border-radius: 50px;
  }
  .contact-info .my-svg1 {
    margin-top: 10%;
  }
  .contact-info .my-svg2 {
    width: 11%;
    height: 11%;
    margin-top: 6%;
    margin-left: -5px;
  }
  .contact-info .elementor-divider-separator {
    display: block;
    width: 20%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    position: relative;
  }
  .contact-info .elementor-divider-separator::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate(-50%);
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
    margin-left: 40px;
  }
  .contact-info p {
    position: absolute;
    margin-left: 3%;
    margin-top: 1%;
  }
  .contact-info .p1 {
    padding-top: 3%;
  }
  .contact-info .p2 {
    padding-top: 6%;
  }
  .contact-info .p3 {
    padding-top: 9%;
  }
  .contact-info .p4 {
    padding-top: 12%;
    font-size: 20px;
  }
  .circles-info .one, .circles-info .two, .circles-info .three, .circles-info .four {
    border: 1px solid white;
    width: 40px; /* Moderate size */
    height: 40px; /* Keep 1:1 ratio */
    border-radius: 50%;
    background-color: white;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circles-info .two, .circles-info .three, .circles-info .four {
    margin-top: 8%;
  }
  .circles-info img {
    width: 20px; /* Adjust icon size */
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .copyrights {
    display: flex;
    color: #A5A49A;
    background-color: black;
  }
  .copyrights p {
    padding: 0.5% 0.1% 1% 1%;
  }
  .copyrights h2 {
    font-family: chillax medium;
    font-weight: normal;
    font-size: 15px;
    padding: 1% 0 1% 0;
  }
  .copyrights h1 {
    font-family: chillax medium;
    color: #A5A49A;
    font-weight: 900;
    font-size: 15px;
    padding: 1% 1% 1% 0.5%;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */